<%- include('../partials/header') %>
<main>
    <h1>Faculty List</h1>
    <p>Browse our CSE Department faculty: </p>
    <ul>
        <% Object.values(faculty).forEach(faculty => { %>
            <li><a href="/faculty/<%= faculty.id %>"><%= faculty.name %></a></li>
        <% }); %>
    </ul>
    <div class="navigation">
        <p><a href="../">&larr; Back to Home</a></p>
    </div>
</main>
<%- include('../partials/footer') %>
