<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>Ruby Larson</p>
    <img src="/images/ruby.jpg" alt="Ruby Larson">
    <p>I am a student at BYU Idaho studying Software Engineering with a focus on Web Full Stack Development. I have a passion for learning new technologies and am always eager to expand my knowledge.</p>
    <p>My hobbies consist of reading, crosheting, and spending time with friends and family.</p>

</main>
<%- include('partials/footer') %>