<%- include('partials/header') %>

    <h1><%= title %></h1>
    <p>CSE 340</p>
    <p>Class Project</p>
    <img src="/images/red_panda_2.jpg" alt="Red Panda eating bamboo shoots">

<%- include('partials/footer') %>